<?xml version="1.0"?>
<!--
/**
 * Module AVATOR_ContactUs
 *
 * @category    AVATOR
 * @package     AVATOR_ContactUs
 * @author      Oleksii Golub oleksii.v.golub@gmail.com
 * @copyright   Copyright (c) 2017
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AVATOR_ContactUs::contact" title="Contact us" module="AVATOR_ContactUs"
             sortOrder="80" resource="AVATOR_ContactUs::contact" action="contact/contact"
             parent="Magento_Backend::stores"/>
    </menu>
</config>
